body {
    width: 100%;
    background: linear-gradient(75deg, #af0273, #784ba0, #000ba4);
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: outfit;
}   
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.container {
    height: 100vh;
}
@media screen and (max-width: 1000px) {
    .container {
        height: 40vh;
    }
}
/* ------------------------------  1 PAGE  ------------------------------ */
.firstPage {
    display: grid;
	grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
    width: 90%;
    margin: auto;
}
.firstPage-element {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
    flex: 1 1 auto;
    margin: auto;
    width: 100%;
}
.firstPage-element img {
    width: 60%;
}
.logo {
    text-align: right;
    justify-items: center;
    margin: 10px;
}
.text {
    width: 100%;
    text-align: left;
    justify-items: center;
    margin: auto;
}
#typed {
    font-family: raleway;
    color: #5c1cc4;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
/* ------------------------------  2 PAGE  ------------------------------ */
.secondPage {
    display: grid;
	grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
}
.secondPage-element {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: auto;
}
.element-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: calc(var(--index) * 1);
    justify-content: space-around;
    justify-items: top;
    height: 100%;
}
@media screen and (max-width: 1000px) {
    .element-text {
        height: 105%;
    }
}
.element-text h1 {
    font-family: raleway;
    color: #5c1cc4;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
.secondPage-element img {
    width: 80%;
}
/* ------------------------------  3 PAGE  ------------------------------ */
.thristPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}
.thristPage h1 {
    font-family: raleway;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
@media screen and (max-width: 1000px) {
    .thristPage h1{
        padding-top: 20%;
    }
}
.thristPage-element img {
    width: 80%;
}
/* ------------------------------  4 PAGE  ------------------------------ */
.fourthPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    width: 100%;
}
.fourthPage h1 {
    font-family: raleway;
    color: #5c1cc4;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
@media screen and (max-width: 1000px) {
    .fourthPage h1{
        padding-top: 20%;
    }
}
.fourthPage-element {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
}
.fourthPage-pic{
    width: 50%;
}
.fourthPage-text {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--index) * 1);
    text-align: left;
    justify-items: top;
    height: 100%;
    justify-content: space-around;
}
.fourthPage-text p, li {
    width: 90%;
    color: #2d2d2d;
}
/* ------------------------------  5 PAGE  ------------------------------ */
.fivePage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}
.fivePage h1 {
    font-family: raleway;
    color: #5c1cc4;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
@media screen and (max-width: 1000px) {
    .fivePage h1{
        padding-top: 20%;
    }
}
.fivePage-element img {
    width: 70%;
}
/* ------------------------------  6 PAGE  ------------------------------ */
.sixPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}
.sixPage h1 {
    font-family: raleway;
    color: #5c1cc4;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
}
@media screen and (max-width: 1000px) {
    .sixPage h1{
        padding-top: 20%;
    }
}
.sixPage-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: calc(var(--index) * 1);
}
.content-element {
    text-align: left;
}
.content-element p{
    color: #2d2d2d;
}
.content-element img{
    width: 60%;
}
/* ------------------------------  7 PAGE  ------------------------------ */
.sevenPage {
    text-align: center;
    justify-items: center;
    justify-content: center;
}
@media screen and (max-width: 1000px) {
    .sevenPage {
        margin-top: 20%;
    }
}
.sevenPage-element img {
    width: 60%;
}